{% extends 'base.html' %} 
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="" async defer></script>
    </head>
    <h1>Welcome to Fitness-X</h1>
    <body>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-danger-dark has-text-white">
          <p class="title is-5">Vertical...</p>
        </article>
        <article class="tile is-child notification has-background-grey-darker has-text-white">
          <p class="title is-5">...tiles</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-grey has-text-white">
          <p class="title is-5 ">Middle tile</p>
          <iframe width="195" height="100" src="https://www.youtube.com/embed/N9rQIk9puXI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification has-background-danger-dark has-text-white">
        <p class="title is-5">Wide tile</p>
        <div class="content">
          <!-- Content -->
          <iframe width="400" height="150" src="https://www.youtube.com/embed/N9rQIk9puXI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent ">
    <article class="tile is-vertical is-child notification has-background-grey-darker has-text-white">
      <div class="content">
        <p class="title is-5">Tall tile</p>
        <div class="content">
          <!-- Content -->
          <iframe width="200" height="200" src="https://www.youtube.com/embed/N9rQIk9puXI?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </article>
  </div>
</div>
    </body>
    </html>
{% endblock %}