{% extends 'base.html' %} 
{% block content %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="" async defer></script>
    </head>
    <div class="home-iframe">
    <iframe id="home-vid" src="https://www.youtube.com/embed/YSepYMyEHhs?&modestbranding=1&autoplay=1&mute=1&controls=0&loop=1&playlist=YSepYMyEHhs" allow="accelerometer; autoplay; frameborder="0" encrypted-media; gyroscope; picture-in-picture"></iframe>
    </div>
    <body>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification has-background-danger-dark has-text-white">
          <p class="title is-5">Here is a complete training program you can follow.</p>
          <p class="title is-3"></p>
        </article>
        <article class="tile is-child notification has-background-grey-darker has-text-white">
          <p class="title is-5">Or you can build your own. All you have to do is sign up.</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-grey has-text-white">
          <p class="title is-5 ">Abs</p>
          <iframe width="195" height="175" src="https://www.youtube.com/embed/-2FesPR4WEQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
      </div>
    </div>
    <div class="tile is-parent ">
      <article class="tile is-child notification has-background-danger-dark has-text-white">
        <p class="title is-5">Back - Chest - Legs </p>
        <div class="content">
          <!-- Content -->
          <iframe width="150" height="100" src="https://www.youtube.com/embed/nK3BNozPEx4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <b> </b> <iframe width="150" height="100" src="https://www.youtube.com/embed/T3NHYjGhAkk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <b> </b> <iframe width="150" height="100" src="https://www.youtube.com/embed/MuD58rqj8SE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </article>
    </div>
  </div>
  <div class="tile is-parent ">
    <article class="tile is-vertical is-child notification has-background-grey-darker has-text-white is-9">
      <div class="content">
        <p class="title is-5">Biceps</p>
        <div class="content">
          <!-- Content -->
          <iframe width="150" height="100" src="https://www.youtube.com/embed/lXwm62SiLQ8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
          <p class="title is-5">Triceps</p>
          <iframe width="150" height="100" src="https://www.youtube.com/embed/P01H0XpNpk0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
          <p class="title is-5">Shoulders</p>
          <iframe width="150" height="100" src="https://www.youtube.com/embed/x0f2sfsh7ns?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>
      </div>
    </article>
  </div>
</div>

    </body>
    </html>
{% endblock %}