{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %}Workouts{% endblock  %}
{% block content %}
<h1 class="title ">Workouts</h1>
<h1 class="title pt-5">{{header}}</h1>
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="workout_name" placeholder="workout" />
    </div>
    <div class="control">
      <input class="button has-background-danger-dark has-text-white" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-dark" href="{% url 'workouts_list' %}">Clear Search</a>
</form>
<div class="gallery">
  {% for workout in workout_name %}
  <div class="card">      
    {% video workout.video '100% x 85%'%} 
    <div class="card-header">
      <a href="{% url 'workouts_detail' workout.pk %}">
        <p class="card-header-title">{{workout.workout_name}}</p>
      </a>
      </div>
    </div>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Workouts Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}