{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="detail__img">
    {% video workouts.video '100% x 100%'%}
</div>
<div class="detail__name">
    <h1 class="title">{{workouts.workout_name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'workout_update' workouts.pk %}" class="button is-info">Update Workout <span></span>
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'workout_delete' workouts.pk %}" class="button is-danger">Delete Workout <span></span>
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Exercise Info</h3>
    {% if workouts.user.username == user.username %}
        {% for exercise in workouts.workouts.all %}
            <div class="song">
                <ul>
                    <li>{{exercise.created|date}}</li>
                    <li>Sets:{{exercise.sets}}</li>
                    <li>Reps:{{exercise.reps}}</li>
                    <li>Weight:{{exercise.weight}}</li>
                    <li>Notes: {{exercise.notes}}</li>
                </ul>
            </div>
            <a href="{% url 'exercise_update' workouts.pk exercise.pk %}" class="button is-info">Update exercise <span></span>
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'workout_delete' exercise.pk %}" class="button is-danger">Delete Workout <span></span>
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
            {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Workout Data Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
    {% endif %}
    
    <form class="mb-5" action="{% url 'exercise_create' workouts.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input 
                class="input"
                type="number"
                name="sets"
                placeholder="Sets"
                required
                />
            </div>
            <div class="control">
                <input 
                class="input"
                type="number"
                name="reps"
                placeholder="Reps"
                required
                />
            </div>
            <div class="control">
                <input 
                class="input"
                type="number"
                name="weight"
                placeholder="Weight"
                required
                />
            </div>
            <div class="control">
                <input 
                class="input"
                type="text"
                name="notes"
                placeholder="Notes"
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add to Workout">
            </div>
        </div>
    </form>
<!--  above about section  -->
    {% comment %} <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{artist.bio}}</p>
    </div> {% endcomment %}
</div>

{% endblock %}